{% extends 'package/read_base.html' %}

{% set pkg = c.pkg_dict %}

{% block primary_content_inner %}
  {{ super() }}
  <h1>{{ _('SPARQL endpoint for ') }}"{{pkg.title}}".</h1>
  <form class="form-horizontal" method="post">
    <div class="control-group">
      <label class="control-label" for="sparql-query">{{ _('Query') }}</label>
      <div class="controls">
        <textarea class="span6" rows="10" cols="50" id="sparql-query" name="sparql-query">{{c.query}}</textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-primary" type="submit">{{ _('Send') }}</button>
      </div>
    </div>
  </form>
  {% if c.result %}
    <table class="table">
      <thead>
        <tr>
          {% for head in c.result['head']['vars'] %}
          <th>{{head}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in c.result['results']['bindings'] %}
          <tr>
          {% for head in c.result['head']['vars'] %}
            <td>{% if item[head]['type'] == 'uri' %}<a href="{{item[head]['value']}}">{% endif %}<small>{{item[head]['value']}}{% if 'xml:lang' in item[head] %}@{{item[head]['xml:lang']}}{% endif %}</small>{% if item[head]['type'] == 'uri' %}</a>{% endif %}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
